<form class="navbar-form pull-right">
	<%= form_tag project_path do %>
	  <%= text_field_tag :search, params[:search], :class => "span2", :placeholder => "Search project" %>
	  <%= submit_tag "Search", :name => :nil, :class => "btn btn-success" %>
	<% end %>
</form>

