/* line 4, ../../app/assets/stylesheets/tickets.css.scss */
/* line 3, ../../app/assets/stylesheets/tickets.css.scss */
.span9 {
  text-align: left;
  color: white;
}

/* line 8, ../../app/assets/stylesheets/tickets.css.scss */
.span9 .dropdown-menu {
  color: black;
}
